<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShortIt!</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <h1>URL Shortner</h1>
        <form action="/shortit" method="post">
            <input type="url" name="url" placeholder="g.com" required>
            <button>ShortIt!</button>
        </form>
    </div>
</body>

</html>