<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShortIt!</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <h1>URL Shortner</h1>
        <p>Your URL
            <a href="<%= url %>" target="_blank">
                <%= url %>
            </a>
            has been shortned to
            <a id="shortened" href="<%= newURL %>" target="_blank">
                <%= newURL %>
            </a>
        </p>
    </div>
    <script>
        window.onload = function () {
            document.getElementById('shortened').innerHTML = window.location.origin + '/' + document.getElementById('shortened').innerHTML;
        };
    </script>
</body>

</html>